body {
  background-image: url('bg.jp');
  font-family: Arial, sans-serif;
  margin: 2px;
  padding: 5px;
  text-align: center;
}

.header-container {
  #title {
    text-shadow: 0px 5px 10px rgba(211, 222, 228, 0.815);
  }

  background-image: url('BARNER.jpg');
  background-size:contain;
  /* Adjust to fit the container */
  background-position: center center;
  height: 190px;
  /* Adjust height as needed */
}

header {

  background-color: #f0f0f0;
  padding: 20px;

  ul {
    list-style: none;

  }

  li {
    display: inline;
    padding: 20px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .logo {
    #logo {
      width: 50px;
      height: auto;
    }
  }

  .header {
    display: inline-flex;
  }
}

h1 {
  font-size: 3rem;
}

p {
  margin-top: 10px;
}

button {
  background-color: #201eb1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

button:hover {
  background-color: #4413a0;
}


/*Main */
.flashcard {
  display: flex;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  /* Adjust values as needed */

  .flashcard img {
    width: 50%;
    /* Adjust image width as needed */
    height: auto;
  }

  .text-container {
    padding: 20px;
    flex-grow: 1;
    /* Make the text container expand to fill available space */
  }